/* 선택자(Selector) - HTML 태그를 선택
 우리의 목적: HTML 문서의 Header 내에 있는 <div id:"header-center"> 를 선택하기
 CSS 파일 내에 div id는 CSS 에서 #으로 사용된다.

 덮어 씌워진다는 속성을 잘 이해해야 한다.
 div에 대해 Css를 적용하고 싶을 때
 방법 1. div#id명{

        }
 방법 2. #id명{
        }
  단, 방법 2에서 한 것과 같이 생략하는 것은 div만 가능하다. header 등 시맨틱 태그들은 생략하면 안된다.
 */


/* 2. 하지만 html 태그에 전체적으로 적용된 갈색 폰트에 color black이 덮어씌여진다. 해당 div에만 검은색 폰트가 적용
  캐스캐이딩 : 덮어씌운다라는 의미를 가지고 있다.
 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

div#header-center{
    margin:0 auto;
    width:1130px;
    color: black;
}

/* 1. html 태그에 적용된 스타일은 자손 노드에 모든 영향을 끼친다. 따라서, 모든 문서의 색깔은 갈색이다. */
html{
    color: saddlebrown;
}

/*
효과는 동일, 보통 자손 선택자를 더 많이 사용한다.
자식선택자: div 바로 안에 존재 '>'로 구분해준다.
ex)
    div#header-search > h1{
    }
자손선택자: div 내에 div 하나 더 안에 존재, 띄어쓰고 바로 태그 붙여주면 된다.
ex)
    div#header-center h1{
    }
 */

div#header-search h1 {
    background-image: url("./sp_search.png");
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    background-size: 440px 410px;
    -webkit-background-size: 440px 410px;
    background-repeat: no-repeat;
}
div#header-search h1 span{
    display:none;
}
div#header-search > h2 {
    display:none;
}

div#header-search fieldset{
    width: 480px;
    display: inline-block;
}

